node_modules/
dist/
.compiler/

.thirdparty/*
!.thirdparty/efk_assets/
.thirdparty/efk_assets/*
!.thirdparty/efk_assets/sound/
.thirdparty/efk_assets/sound/*
!.thirdparty/efk_assets/sound/next21_efk/
.thirdparty/efk_assets/sound/next21_efk/*
!.thirdparty/efk_assets/sound/next21_efk/nuclear_hammer_loop.wav
!.thirdparty/efk_assets/sound/next21_efk/nuclear_hammer_hitwall.wav
!.thirdparty/efk_assets/models/
.thirdparty/efk_assets/models/*
!.thirdparty/efk_assets/models/next21_efk/
.thirdparty/efk_assets/models/next21_efk/*
!.thirdparty/efk_assets/models/next21_efk/hammer_b01.mdl